<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin</title>
</head>
<body>
  <div id="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mypastebin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'editor' %}">TextEditor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary" href="{% url 'home' %}"><span class="iconify" data-icon="clarity:paste-line" style="color: white;" data-width="24"></span>Paste</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'mypaste'%}">Mypaste</a>
            </li>
        
          </ul>
          <div class="flex">
            {% if request.user.is_authenticated %}
            <div><a href="{% url 'profile' %}" class="nav-link active"> Profile</a></div>
            <div><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a></div>

            {% else %}
            <div><a href="{% url 'Login' %}" class="btn btn-primary">LOGIN</a></div>
            <div><a href="{% url 'Register' %}"  class="btn btn-primary">SIGNUP</a></div>
            {% endif %}
          </div>
         
        </div>
      </div>
    </nav> 

  </div>

    
</body>
</html>